# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
env/
*.egg-info/
Pipfile.lock

# PyCharm project files
.idea/

# Logs & databases
*.log
db.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
